@font-face {
  font-family: "Ubuntu Mono";
  src: url('https://fonts.bunny.net/ubuntu-mono/files/ubuntu-mono-latin-400-normal.woff2') format('woff2');
  font-weight: normal;
}

@font-face {
  font-family: "Ubuntu Mono";
  src: url('https://fonts.bunny.net/ubuntu-mono/files/ubuntu-mono-latin-700-normal.woff2') format('woff2');
  font-weight: bold;
}

html, body {
  min-height: 100%;
  width: 100%;
}

html {
  background-color: #0f1c0a;
  margin: 0;
  font-size: 20px;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
}

body {
  background-image: url("cypress_wrap.png");
  color: white;
  font-family: "Ubuntu Mono", Courier;
  margin: 0;
  min-height: 100vh;
}

#topbar {
  width: 100%;
  padding-top: 30px;
}

#topbar p {
  margin: 8px;
  text-align: center;
}

#topbar a {
  text-decoration: none;
}

#topbar a.youarehere {
  color: white;
  font-weight: bold;
}

#topbar a.youarehere:hover {
  color: #0F1C0A;
  background-color: white;
}

#main {
  border: 3px solid white;
  background-color: #0f1c0a;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 600px;
  padding: 20px;
}

#main p {
  font-size: 20px;
  text-align: center;
}

#main .pagetitle {
  width: 100%;
  border-bottom: 2px solid white;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

#main table.maincontent {
  width: 100%;
}

#main td {
  padding: 10px;
  font-size: 20px;
}

#main td.title-left {
  font-weight: bold;
  font-size: 28px;
  text-align: right;
  padding: 0 10px 0 0;
  min-width: 160px;
}

#bottombar {
  margin-top: 20px;
  min-height: 160px;
}

#bottombar p {
  font-size: 16px;
  text-align: center;
}

h1 {
  text-shadow: 3px 3px #778877;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-top: 0;
}

h2 {
  font-size: 30px;
  padding-top: 16px;
  text-align: center;
}

a {
  color: #99FF9E;
  text-decoration: none;
  transition: color 0.3s, background-color 0.3s, text-decoration-color 0.3s;
}

a:hover {
  color: #0F1C0A;
  background-color: #99FF9E;
}

.centered-image {
  text-align: center;
}
